/*Styling the toolbar, making it transparent*/
#home-page ion-content ion-toolbar {
  --background: var(--ion-background-color);
}

/*Seeting the application background*/
#search-results-page {
  background-image: url('../backgroundImg/backgroundImg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-color: inherit;
}

