#home-page ion-content ion-toolbar {
    --background: var(--ion-background-color);
  }
  
#search-results-page{
  background-image: url("https://lh4.googleusercontent.com/Ia8QeLBzj6YtDLs2YmR89DMEnC1RohKoJYXYILjGaU_NqrRQJoMndtmrwgKaHYXvWnIEyzn8qmg8jPoImgwEkLkWOQOWjYMzl7L_A6RSuOj4rLBBK-1_LyMhW1fhk5JX064rPkfbFhs")
}

#search-results-page h1{
  font-style: italic;
}